<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>lawyer4</display-name>
	<filter>
		<filter-name>login</filter-name>
		<filter-class>top.dongpeili.filter.Login</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>login</filter-name>
		<url-pattern>/html/admin</url-pattern>
	</filter-mapping>
	<filter>
		<filter-name>filter</filter-name>
		<filter-class>top.dongpeili.filter.Filter</filter-class>
		<init-param>
			<param-name>Site</param-name>
			<param-value>律师深度学习</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>filter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<resource-ref>
		<description>MySQL DBCP</description>
		<res-ref-name>jdbc/marianaJNDI</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
	</resource-ref>

	<!-- servlet 定义 -->
	<servlet>
		<servlet-name>ErrorHandler</servlet-name>
		<servlet-class>top.dongpeili.controller.ErrorHandler</servlet-class>
	</servlet>
	<!-- servlet 映射 -->
	<servlet-mapping>
		<servlet-name>ErrorHandler</servlet-name>
		<url-pattern>/top.dongpeili.controller.ErrorHandler</url-pattern>
	</servlet-mapping>

	<!-- error-code 相关的错误页面 -->
	<error-page>
		<error-code>404</error-code>
		<location>/top.dongpeili.controller.ErrorHandler</location>
	</error-page>
	<error-page>
		<error-code>403</error-code>
		<location>/top.dongpeili.controller.ErrorHandler</location>
	</error-page>

	<error-page>
		<exception-type>java.lang.Throwable</exception-type>
		<location>/top.dongpeili.controller.ErrorHandler</location>
	</error-page>
</web-app>